<h2>Add New Admin Member</h2>
<form [formGroup]="memberAddForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <table>
            <thead>
                <tr>
                    <th><label for="firstName">First Name</label></th>
                    <th><label for="lastName">Last Name</label></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </td>
                    <td>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">First Name is required</div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th><label for="email">E-Mail</label></th>
                    <th><label for="memberLanguageCode">Member Language Code</label></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">e-Mail is required</div>
                        </div>
                    </td>

                    <td>
                            <mat-form-field >
                                <mat-label>Member Language </mat-label>
                                <mat-select formControlName="memberLanguageCode">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let memberLanguageCode of memberLanguageCodes" [value]="memberLanguageCode.value">
                                        {{memberLanguageCode.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.memberLanguageCode.errors && f.memberLanguageCode.errors.required">Choose member language code!</mat-error>
                              </mat-form-field>
                        </td>
                </tr>
            </tbody>

            <thead>
                <tr>
                    <th><label for="password">Password</label></th>
                    <th><label for="confirmPassword">Confirm Password</label></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </td>
                    <td>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        
    </div>

    <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Send</button>
            <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</form>